body{
    margin: 0;
    padding: 0;
}

.cointainer{
    width: 960px;
    margin: auto;
}

header{
    background-color: black;    
    color: #ffffff;
}

#logo{
    width: 250px;

}

#logo img{
    width: 100%;
}

header .container{
    display: flex; 
    align-items: center;
}

header section, header nav{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#direita{
    flex-grow: 1;
}

#direita section{
    letter-spacing: 5px;
    font-size: 14pt;
    font-style: italic;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px;
}

header nav a:hover{
    background-color: #ffff00;
    color: black;
}
